:root {
  --color-yellow: #FBC302;
  --color-magenta-net: #FF3C87;
  --color-violet: #DF7EFF;
  --color-blue: #0024FF;
  --color-white: #FFFFFF;
  --color-black: #000000;
}

* {
  margin: 0;
  padding: 0;
  font: normal 16px/1.5 "Open Sans", sans-serif;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit
}


div {
  display: block;
}

p {
  display: block;
  text-overflow: ellipsis;
}

.line {
  margin: 0 auto;

  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 52px;

  width: 960px;
  height: auto;
}

.element {
  width: 285px;
}

.element__square {
  height: 285px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.yellow-square {
  background-color: var(--color-yellow);
}

.magenta-square {
  background-color: var(--color-magenta-net);
  color: var(--color-white);
}

.violet-square {
  background-color: var(--color-violet);
}

.image-square {
  background: url("images/chanel.jpg") rgba(0, 0, 0, 0.56);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.square-text-white {
  color: var(--color-white);
}

.element__text {
  display: block;
}

.element__text__header p{
  max-height: 80px;
}

.element__text__header p{
  font: 22px/1.35 "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.element__text__subheader {
  font: normal 18px/1.2 "Open Sans", sans-serif;
  text-transform: lowercase;
  max-height: 80px;

  text-overflow: ellipsis;
  white-space: wrap;

  margin-top: 2px;
  margin-bottom: 5px;
}

.element__square__text {
  font: bold 30px/1.3 "Open Sans", sans-serif;
  text-transform: uppercase;
  margin: 35px;

  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*              Средний десктоп              */
@media (max-width: 1200px) {
  .line {
    width: 780px;
    gap: 37px;
  }

/* Размер квадрата */
  .element {
    width: 235px;
  }

  .element__square {
    height: 235px;
  }

  /* Размер текста */
  .element__square__text {
    font-size: 25px;
    margin: 20px;
  }

  .element__text__header p {
    font-size: 18px;
  }

  .element__text__subheader {
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 6px;
  }
}

/*              Самый маленький десктоп              */
@media (max-width: 960px) {
  .line {
    width: 620px;
    gap: 25px;
  }

  .element {
    width: 190px;
  }

  .element__square {
    height: 190px;
  }

  /* Размер текста */
  .element__square__text {
    font-size: 25px;
    margin: 20px;
  }

  .element__text__header p {
    font-size: 18px;
  }

  .element__text__subheader {
    font-size: 18px;
  }
}

/*  вертикальное отображение */
/*              Самые предпоследние мобилки              */
@media (max-width: 640px) {
  .line {
    width: 460px;
    gap: 40px;
  }

  .element {
    width: 250px;
  }

  .element__square {
    height: 250px;
  }

  /* Размер текста */
  .element__square__text {
    font-size: 30px;
    margin: 20px;
  }

  .element__text__header p {
    font-size: 22px;
  }

  .element__text__subheader {
    font-size: 18px;
  }
}

/*              Самые маленькие мобилки              */
@media (max-width: 480px) {
  .line {
    width: 300px;
    /*   gap: 25px; */
  }

  .element {
    width: 230px;
  }

  .element__square {
    height: 230px;
  }

  /* Размер текста */
  .element__square__text {
    font-size: 28px;
    margin: 20px;
  }

  .element__text__header p {
    font-size: 20px;
  }

  .element__text__subheader {
    font-size: 18px;
  }
}